
html, body {
	max-width: 100%;
	overflow-x: hidden;
}

h2 {
	font-size: 22px;
	text-transform: uppercase;
	color: #303030;
	font-weight: 600;
	margin-bottom: 5px;
	font-family: Montserrat, sans-serif;
}

h4 {
	font-size: 18.5px;
	line-height: 1.375em;
	color: #303030;
	font-weight: 400;
	margin-bottom: 15px;
	text-align: justify;
	font-family: Montserrat, sans-serif;
}

.h4-small {
	font-size: 14px;
	line-height: 1.375em;
	color: #303030;
	font-weight: 400;
	margin-bottom: 10px;
	text-align: justify;
	font-family: Montserrat, sans-serif;
}

.jumbotron {
	background-color: rgba(48, 50, 52, 0.96);
	color: #fff;
	padding: 130px 25px;
	margin-bottom: 0;
	font-family: Montserrat, sans-serif;
}

.intro-anim-header{
	opacity:0;
	animation: fadein 1s forwards;
}

:root {
	--logos-anim-offset: 500ms;
}

.delay100off{animation-delay: calc(var(--logos-anim-offset) + 100ms);}
.delay200off{animation-delay: calc(var(--logos-anim-offset) + 200ms);}
.delay300off{animation-delay: calc(var(--logos-anim-offset) + 300ms);}
.delay400off{animation-delay: calc(var(--logos-anim-offset) + 400ms);}
.delay500off{animation-delay: calc(var(--logos-anim-offset) + 500ms);}
.delay600off{animation-delay: calc(var(--logos-anim-offset) + 600ms);}

.delay200{animation-delay: 200ms;}
.delay600{animation-delay: 600ms;}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.photo {
	width: 220px;
	padding-left: 50px;
}

.photo img {
	box-shadow: 0 0 4pt 4pt #eaeef1;
	border-radius: 50%;
	width: 250px;
}

.container-fluid {
	padding: 50px 0;
}

.bg-grey {
	background-color: #f6f6f6;
}

.thumbnail {
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
}

.thumbnail img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
	color: #2c3e50;
}

.carousel-indicators li {
	border-color: #2c3e50;
}

.carousel-indicators li.active {
	background-color: #2c3e50;
}

.item h4 {
	font-size: 19px;
	line-height: 1.375em;
	font-weight: 400;
	font-style: italic;
	margin: 70px 0;
}

.item span {
	font-style: normal;
}

.panel {
	border: 1px solid #2c3e50;
	border-radius: 0 !important;
	transition: box-shadow 0.5s;
}

.panel:hover {
	box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
	border: 1px solid rgba(48, 50, 52, 0.96);
	background-color: #fff !important;
	color: rgba(48, 50, 52, 0.96);
}

.panel-heading {
	color: #fff !important;
	background-color: #2c3e50 !important;
	padding: 25px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.panel-footer {
	background-color: white !important;
}

.panel-footer h3 {
	font-size: 32px;
}

.panel-footer h4 {
	color: #aaa;
	font-size: 14px;
}

.panel-footer .btn {
	margin: 15px 0;
	background-color: rgba(48, 50, 52, 0.96);
	color: #fff;
}

.navbar {
	margin-bottom: 0;
	background-color: rgb(48, 50, 52);
	z-index: 9999;
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
	color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
	color: rgba(48, 50, 52, 0.96) !important;
	background-color: rgb(34, 229, 164) !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	color: #fff !important;
}

footer .glyphicon {
	font-size: 20px;
	margin-bottom: 20px;
	color: rgba(48, 50, 52, 0.96);
}

.slideanim-vert {
	visibility: hidden;
}

.slide-vert {
	animation-name: slide-vert;
	-webkit-animation-name: slide-vert;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}

@keyframes slide-vert {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
}

@-webkit-keyframes slide-vert {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
}

.slideanim-hor {
	visibility: hidden;
}

.slideanim-hor-init {
	visibility: hidden;
}

.slide-hor {
	animation-name: slide-hor;
	-webkit-animation-name: slide-hor;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}

@keyframes slide-hor {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

@-webkit-keyframes slide-hor {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

.slideanim-hor-init-rev {
	visibility: hidden;
}

.slide-hor-rev {
	animation-name: slide-hor-rev;
	-webkit-animation-name: slide-hor-rev;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}

@keyframes slide-hor-rev {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

@-webkit-keyframes slide-hor-rev {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

@media screen and (max-width: 768px) {
	.col-sm-4 {
		text-align: center;
		margin: 25px 0;
	}

	.btn-lg {
		width: 100%;
		margin-bottom: 35px;
	}
}

@media screen and (max-width: 480px) {
	.logo {
		font-size: 150px;
	}
}

.affix {
	padding: 0px;
	-webkit-transition: padding 0.2s linear;
	-moz-transition: padding 0.2s linear;
	-o-transition: padding 0.2s linear;
	transition: padding 0.2s linear;

}

.affix-top {
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-transition: padding 0.5s linear;
	-moz-transition: padding 0.5s linear;
	-o-transition: padding 0.5s linear;
	transition: padding 0.5s linear;
}

footer {
	background-color: rgba(48, 50, 52, 0.96);
}

.major {
	margin-bottom: 3em;
}

.major h2 {
	font-size: 2em;
	letter-spacing: 3px;
}

.major h2:after {
	display: block;
	content: '';
	width: 3.25em;
	height: 2px;
	margin: 0.7em 0 1em 0;
	border-radius: 2px;
	border:2px solid rgb(34, 229, 164);
}

.center {
	text-align: center;
}

.center h2:after {
	margin-left: auto;
	margin-right: auto;
}

.text-danger {
	color: rgba(48, 50, 52, 0.96)
}

.mark {
	background-color: rgba(34, 229, 164, 0.04);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
	text-align: center;
}

.timeline{
	--uiTimelineMainColor: #222;
	--uiTimelineYearColor: #22e5a4;
	--uiTimelineSecondaryColor: #fff;

	position: relative;
	padding-top: 1rem;
	padding-bottom: 3rem;
	text-align: justify;
	font-family: Montserrat, sans-serif;
}

/* Timeline line */
.timeline:before{
	content: "";
	width: 4px;
	height: 102%;
	background-color: var(--uiTimelineMainColor);
	position: absolute;
	/*top: 1rem;*/
}

.timeline__group{
	position: relative;
}

.timeline__group:first-of-type{
	padding-top: 1rem;
}

/*.timeline__group:not(:first-of-type){*/
/*	margin-top: 2rem;*/
/*}*/

.timeline__year{
	padding: .5rem 1.5rem;
	color: var(--uiTimelineSecondaryColor);
	background-color: var(--uiTimelineYearColor);
	position: relative;
	left: 0;
	top: 3rem;
}

.timeline__box{
	position: relative;
}

.timeline__box:not(:last-of-type){
	margin-bottom: 20px;
	margin-top: 10px;
}

.timeline__box:before{
	content: "";
	width: 100%;
	height: 2px;
	/*background-color: var(--uiTimelineMainColor);*/
	position: absolute;
	left: 0;
	z-index: -1;
}

.timeline__date{
	min-width: 65px;
	position: absolute;
	left: 0;
	box-sizing: border-box;
	padding: .5rem 1.5rem;
	text-align: center;

	background-color: var(--uiTimelineMainColor);
	color: var(--uiTimelineSecondaryColor);
}

.timeline__day{
	font-size: 2rem;
	font-weight: 700;
	display: block;
}

.timeline__month{
	display: block;
	font-size: .8em;
	text-transform: uppercase;
}

.timeline__post{
	padding: 1.5rem 2rem;
	border-radius: 2px;
	border-left: 3px solid var(--uiTimelineMainColor);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
	background-color: var(--uiTimelineSecondaryColor);
}

@media screen and (min-width: 641px){

	.timeline:before{
		left: 30px;
	}

	.timeline__group{
		padding-top: 55px;
	}

	.timeline__box{
		padding-left: 80px;
	}

	.timeline__box:before{
		top: 50%;
		transform: translateY(-50%);
	}

	.timeline__date{
		top: 50%;
		margin-top: -27px;
	}
}

@media screen and (max-width: 640px){

	.timeline:before{
		left: 0;
	}

	.timeline__group{
		padding-top: 40px;
	}

	.timeline__box{
		padding-left: 20px;
		padding-top: 70px;
	}

	.timeline__box:before{
		top: 90px;
	}

	.timeline__date{
		top: 0;
	}
}

.timeline{
	--timelineMainColor: #22e5a4;
	font-size: 16px;
}

.page{
	max-width: 950px;
	padding: 0 1.1em 2.5em 1.1em;
	margin-left: auto;
	margin-right: auto;
	margin-top:0;
	order: 1;
}

.hvr-fade {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
	background-color: rgba(34, 229, 164, 0.1);
}

.hvr-fade:active {
	transform: translateY(2px);
}

.button {
	background-color: #303234; /* Green */
	border: none;
	color: white;
	padding: 2px 5px;
	margin-top: 4px;
	border-radius: 4px;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.5px;
	display: inline-block;
	font-size: 14px;
	outline: 0;
}

.button:hover {background-color: rgb(34, 229, 164)}

.button:active {
	background-color: #21c589;
	transform: translateY(1.5px);
}

.fa-fade:hover {
	color: #22b179 !important;
}

.fa-fade:active {
	color: #219d69 !important;
	transform: translateY(1.5px);
}

.tooltip-inner {
	background-color: #303234;
}

.tooltip.right .tooltip-arrow {
	border-right-color: #303234;
}